doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css' type="text/css" media="all")
    script(src="/javascripts/form.js")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
  body
    .padding-all
      .header
        h1
          img(src="https://orig00.deviantart.net/a01b/f/2016/264/5/e/simple_steam_icon_by_damoxy-daiel1a.png", alt=" ")
          | #{title}
      .design-w3l
        .mail-form-agile
          block forminput
        .clear
        .footer
          p © 2017 Gaming Login form. All Rights Reserved | Design by  
            a(href="http://w3layouts.com/") w3layouts