extends form

block head
  script(src="/javascripts/jquery-3.3.1.min.js")
  script(src="/javascripts/login.js")

block forminput
  form(action="")
    input#email(type="email", name="email" placeholder="Email..." required="")
    input.padding#password(type="password", name="password" placeholder="Password" required="")
    input#submit(type="submit", value="submit")