extends form

block forminput
  form(action="/register", method="post")
    input.padding(type="email", name="email" placeholder="Email..." required="")
    input.padding(type="text", name="username" placeholder="Username..." required="")
    input.padding(type="password", name="password" placeholder="Password..." required="")
    input.padding(type="password", name="passwordConfirm" placeholder="Re-enter password..." required="")
    input(type="submit", value="submit")